body{
    font-family: "Helvetica Neue",Roboto,Arial,"Droid Sans",sans-serif;
    font-size: 12px;
    padding:0;
    margin:0;
}

h2{
    margin:0;
    font-size: 24px;
    margin:0 0 10px 0;
    padding:0;
}
h3{
    font-size: 16px;
    font-weight:bold;
    margin:0;
}

/* table */
table{
    width:100%;
    border-spacing: 0;
    border:0;
    border-collapse: collapse;
}
table th{
    background:rgb(56, 56, 56);
    color:#fff;
    border:0;
}

/* text */
.text-center{text-align:center}

/* no margin */
.no-margin{margin: 0}

/* margin*/
.m-top-1{margin-top:10px}
.m-bottom-1{margin-bottom:10px}
.m-left-1{margin-left:10px}

/* padding */
.p-full-1{padding:10px}
.p-top-0{padding-top:5px}
.p-top-1{padding-top:10px}
.p-bottom-0{padding-bottom:5px}
.p-bottom-1{padding-bottom:10px}
.p-left-1{padding-left:10px}
.p-left-2{padding-left:20px}

/* no padding */
.no-padding{padding: 0}

/* border */
.b-none{border:0}
.b-full-1{border:1px solid #d4d4d4}
.b-top-1{border-top: 1px solid #d4d4d4}
.b-bottom-1{border-bottom: 1px solid #d4d4d4}
.b-left-1{border-left: 1px solid #d4d4d4}
.b-right-1{border-right: 1px solid #d4d4d4}

/* width */
.w-100-percent{
    width:100%
}

/* others */
.clearfix{
    display:block;
    clear:both
}
.full_col{
    padding:10px;
}
.x_panel{
    border:1px solid #d4d4d4;
    background:#fff
}
.x_panel_frequency{
    padding:10px 15px
}
.x_content_frequency{
    padding:0
}
.block_frequency p{
    margin: 0;
}

/* btn */
.btn{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    text-decoration: none
}
.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.btn-primary:hover{
    background-color: #245784;
}
.btn-lg{
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
}
.btn-page{
    position:fixed;
    right:10px;
    bottom:10px
}

/* media */
@media print{
    .btn{
        display:none
    }
}