/*SELECT2*/
.select2-container{
    width:100% !important
}
.select2-container--default .select2-selection--multiple, .select2-container--default .select2-selection--single{
    border: 1px solid #ccc;
    border-radius: 1px;
    padding-left:5px;
    color:#555;
    font-size: 14px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
    margin-top: 3px;
}
.select2-container--default.select2-container--focus .select2-selection--multiple{
    border: 1px solid #ccc;
}

/*DATAPICKER*/
.daterangepicker td.disabled, .daterangepicker option.disabled{
    background: #ffd6d6 !important;
    color:#ef4e4e !important
}

/*CUSTOM*/
.dates-default .form-control-feedback{
    margin-top: 32px;
}
.accordion .panel:hover{
    background: none
}
.accordion .panel-heading{
    background:#2a3f54;
    color:#fff
}
.x_content .accordion .panel-title{
    font-size:14px
}
.panel_toolbox>li{
    float:right;
}
.table td{
    vertical-align: middle !important;
}
.site_title{
    color:#ffd600 !important;
}
.menu_section h3{
    color:#1abb9c !important;
    text-shadow:1px 1px #04443e;
}
.btn-group, .btn-group-vertical{
    vertical-align:top;
}
.dropdown-menu>li>a{
    padding:7px 20px;
}
.input-group-left{
    float:left
}
.input-group-right{
    float:right
}
.input-group-btn .btn{
    margin-right:0
}
.table-striped>tbody>tr:nth-of-type(odd){
    border-bottom: 1px solid #ddd
}
.table>thead>tr>th{
    vertical-align: middle;
}

/* COLORS */
.white{
    color:white
}
.black{
    color:black
}

/* FONT */
.font_11{
    font-size:11px
}

/* BACKGROUNDS */
.bg-gray-1{background-color: rgb(226, 226, 226);}
.bg-gray-2{background-color: rgb(236, 236, 236);}
.bg-gray-3{background-color: rgb(244, 244, 244);}
.bg-gray-4{background-color: rgb(254, 254, 254);}

/* MARGIN AND PADDING */
.no-margin{margin: 0}
.mt-0{margin-top:0}
.mt-1{margin-top:5px}
.mt-2{margin-top:10px}
.mt-3{margin-top:15px}
.mt-4{margin-top:20px}
.mt-5{margin-top:25px}
.mb-0{margin-bottom:0}
.pt-0{padding-top:0}

/* OTHERS */
.table-last-bottom tr:last-child{
    border-bottom:1px solid #ddd
}
.alert-color{
    color:#c9302c
}
.input-40{
    width:60px;
    text-align:center
}
.align-right{
    text-align:right
}
.align-center{
    text-align:center
}
.btn-icon{
    padding:0px 12px !important
}
.navbar-nav .open .dropdown-menu-custom{
    margin-top:8px;
    width:185px
}
.nav .btn-icon-success:hover{
    background:#169F85 !important
}
.nav .btn-icon-success:focus{
    background:#398439 !important
}
.msg-search-students,
.msg-search-teachers,
.msg-search-coordinators{
    text-align:center;
    color: #26b99a; 
    font-weight:bold
}
.contentLoading{
    text-align:center
}
.loading-grade{
    display:block;
    float:left;
    margin: 6px 10px 0 0;
    width:22px;
    height:22px;
    background: url("/../images/loading_icon.gif") -40px -22px no-repeat;
    background-size: 100px 66px;
}
.loading img, .loading-grade img{
    width:100px;
    height:66px
}
.save-frequency-grade,
.loading-grade,
.all-search-student,
.all-search-teacher,
.all-search-coordinator,
.msg-search-students,
.msg-search-teachers,
.msg-search-coordinators,
.no-students-enrolled,
.no-teachers,
.no-coordinators,
.table-all-students,
.table-all-teachers,
.table-all-coordinators,
.btn-delete-aluno,
.box-insert-teacher,
.btn-edit-enrol-teacher,
.pagination-student,
.pagination-teacher,
.pagination-coordinator{
    display:none
}
.no-students-enrolled{
    margin: 10px 0 5px 0
}
.pages{
    text-align:center;
    width:100%
}
.pages .pagination{
    margin:0
}
.mode-on, .mode-on:hover, .mode-on:focus{
    background:#2bc153;
    color:#fff;
    border-color:#29a06b
}
.mode-off, .mode-off:focus{
    background: #fff;
    border-color: #adadad;
}
.frequency-input, .grade-input{
    width:50px;
    text-align: center;
}
.mode-on-input{
    display:none
}
.full_col{
    padding: 0 20px 0;
}
.x_panel_frequency{
    padding:10px
}
.x_content_frequency{
    padding:0
}
.block_frequency p{
    margin: 0;
    font-size: 11px
}
table.jambo_table tbody tr:hover td{
    background: none;
    border-top: 0;
    border-bottom: 0;
}
.pagination-custom .pagination{
    margin: 0 0 10px 0
}
.public-name{
    font-weight:bold
}
.group-name{
    color: #26B99A
}
.type-name{
    color: #5bc0de
}
.show_courses{
    text-align:center
}
.choose_year{
    background:#1abbac
}
.choose_year a{
    color:#fff !important
}
.choose_year a:hover{
    background:#159a8e !important
}
.box-tab-user{
    border-bottom:1px solid #ddd;
    border-left:1px solid #ddd;
    border-right:1px solid #ddd;
    padding:10px;
    margin-top:-15px
}